* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	position: relative;
	background: radial-gradient(104.49% 104.49% at 50% 50%, #000000 0%, rgba(55, 55, 55, 0.432292) 100%);
}

.logo {
	position: absolute;
	width: 61.22px;
	height: 61.43px;
	left: 43.25px;
	top: 17.78px;
}

/* .post {
	position: absolute;
	width: 60%;
	height: 57.03%;
	left: 20%;
	background: #666666;
	border-radius: 35px;
  
	top: calc(10.05% + (57.03% + 10.05%) * var(--post-index));
  } */

.button {
	box-sizing: border-box;
	position: absolute;
	border: 3px solid #38B138;
	border-radius: 14px;
	width: 10.4%;
	height: 6.45%;
	background-color: transparent;
	top: 3.9%;
	color: white;
	font-weight: bold;

}

.button:hover {
	cursor: pointer;
	background-color: #38B138;
}

#logout-button {
	left: 86.8%;
}

.menu {
	position: absolute;
	width: 17%;
	height: 36.5%;
	left: 1.5%;
	top: 20.21%;
	background: #666666;
	border-radius: 35px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	align-items: center;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');



#create-post {
	position: absolute;
	width: 17%;
	height: 78px;
	left: 1.5%;
	top: 60%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Inter', sans-serif;
	font-size: 34px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#create-post:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #38B138;
}


.requests {
	position: absolute;
	width: 17%;
	height: 35%;
	left: 81.5%;
	top: 20.21%;

	background: #666666;
	border-radius: 35px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	text-align: center;
}

.event {

	width: 100%;
	color: white;
	position: absolute;
	padding: 40px;
	box-sizing: border-box;
	font-size: 33px;
	font-family: 'Inter', sans-serif;

}

.event-properties {
	color: #38B138;
	font-size: 27px;
}

.event-property {
	border: 2px solid #38B138;
	border-radius: 50px;
	margin: 5px;
	padding: 5px;
}

.event-creator{
	font-weight: bold;
}

#home {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 12%;
}

#profile {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 42%;
}

#settings {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 72%;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	min-height: 75%;
	max-height: 75%;
}

/* https://codepen.io/GhostRider/pen/oNvoNv */


::-webkit-scrollbar {
	float: right;
	width: 0.5em;
}

::-webkit-scrollbar-track {
	margin: 30 0px;
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

::-webkit-scrollbar-thumb {
	background-color: #38B138;
	/* outline: 1px solid slategrey; */
	border-radius: 10px;

}


.requests {
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.request-view {
	color: white;
	font-size: 33px;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

.request-creator{
	box-sizing: border-box;
	padding: 10px;
	font-weight: bold;
}

#acceptbutton{
	position: absolute;
	width: 17%;
	height: 62px;
	bottom: 10%;
	left: 60%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#refusebutton{
	position: absolute;
	width: 17%;
	height: 62px;
	bottom: 10%;
	left: 80%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Inter', sans-serif;
	font-size: 33px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#request {
	align-items: center;
	color: white;
	text-align: center;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 15%;
	justify-content: center;
}

#request>a {
	color: white;
	align-items: center;
}

.request {
	margin-bottom: 10px;
}

.name-request {
	font-weight: bold;
}

a.pages {
	color: white;
}

a.pages:first-child {
	color: #38B138;
}

#home>a {
	color: #38B138;
}

.event-button {
	position: absolute;
	left: 80%;
	top: 80%;
	width: 18%;
	height: 15%;
	font-size: 90\%;
}


.name-your.request {
	font-size: 13px;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

#your_requests_parent {
	position: absolute;
	width: 17%;
	height: 35%;
	left: 81.5%;
	top: 60%;

	background: #666666;
	border-radius: 35px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	text-align: center;
	overflow-y: scroll;
}
