* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	position: relative;
	background: radial-gradient(104.49% 104.49% at 50% 50%, #000000 0%, rgba(55, 55, 55, 0.432292) 100%);
}

#event {
	height: 100%;
  }
  

/* .post {
	position: absolute;
	width: 60%;
	height: 57.03%;
	left: 20%;
	background: #666666;
	border-radius: 35px;
  
	top: calc(10.05% + (57.03% + 10.05%) * var(--post-index));
  } */

.button {
	box-sizing: border-box;
	position: absolute;
	border: 3px solid #38B138;
	border-radius: 14px;
	width: 10.4%;
	height: 6.45%;
	background-color: transparent;
	top: 3.9%;
	color: white;
	font-weight: bold;

}

.button:hover {
	cursor: pointer;
	background-color: #38B138;
}

#logout-button {
	left: 86.8%;
}

.menu {
	position: absolute;
	width: 17%;
	height: 36.5%;
	left: 1.5%;
	top: 20.21%;
	background: #666666;
	border-radius: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	align-items: center;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');



#create-post {
	position: absolute;
	width: 17%;
	height: 78px;
	left: 1.5%;
	top: 60%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#create-post:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #38B138;
}


.requests {
	position: absolute;
	width: 17%;
	height: 35%;
	left: 81.5%;
	top: 20.21%;

	background: #666666;
	border-radius: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	text-align: center;
}

.event {

	width: 100%;
	color: white;
	position: absolute;
	padding: 40px;
	box-sizing: border-box;
	font-size: 33px;
	font-family: 'Raleway', sans-serif;

}

.event-properties {
	color: #38B138;
	font-size: 27px;
}

.event-property {
	border: 2px solid #38B138;
	border-radius: 50px;
	margin: 5px;
	padding: 5px;
}

.event-creator{
	font-weight: bold;
}

#home {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 12%;
}

#profile {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 42%;
}

#settings {
	position: absolute;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 72%;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	min-height: 75%;
	max-height: 75%;
}

/* https://codepen.io/GhostRider/pen/oNvoNv */


::-webkit-scrollbar {
	float: right;
	width: 0.5em;
}

::-webkit-scrollbar-track {
	margin: 30 0px;
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

::-webkit-scrollbar-thumb {
	background-color: #38B138;
	/* outline: 1px solid slategrey; */
	border-radius: 10px;

}


.requests {
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.request-view {
	color: white;
	font-size: 33px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.request-creator{
	box-sizing: border-box;
	padding: 10px;
	font-weight: bold;
}

#acceptbutton{
	position: absolute;
	width: 17%;
	height: 62px;
	bottom: 10%;
	left: 60%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Raleway', sans-serif;
	font-size: 33px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#refusebutton{
	position: absolute;
	width: 17%;
	height: 62px;
	bottom: 10%;
	left: 80%;
	background-color: #38B138;
	border-radius: 61px;
	font-family: 'Raleway', sans-serif;
	font-size: 33px;
	line-height: 41px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

#request {
	align-items: center;
	color: white;
	text-align: center;
	width: 80%;
	height: 33%;
	left: 10%;
	top: 15%;
	margin-top: 10%;
	justify-content: center;
}

#request>a {
	color: white;
	align-items: center;
}

.request {
	margin-bottom: 10px;
}

.name-request {
	font-weight: bold;
}

a.pages {
	color: white;
}

a.pages:first-child {
	color: #38B138;
}

#home>a {
	color: #38B138;
}

.event-button {
	position: absolute;
	left: 80%;
	top: 80%;
	width: 18%;
	height: 15%;
	font-size: 90\%;
}


.name-your.request {
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#your_requests_parent {
	position: absolute;
	width: 17%;
	height: 35%;
	left: 81.5%;
	top: 60%;

	background: #666666;
	border-radius: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	overflow-y: scroll;
}

.your-request-view{
		width: 100%;
		position: absolute;
		padding: 40px;
		box-sizing: border-box;
		font-size: 33px;
		font-family: 'Raleway', sans-serif;
}

.request-creator{
	color: #F5F5F5;
}

.request-properties{
	color: #38B138;
	font-size: 25px;
}

.request-notes{
	color: #F5F5F5;
	font-size: 25px;

}

#your_request {
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
	top: 5%;
	margin-top: 10%;
	justify-content: center;
}

#your_request>a {
	color: white;
	align-items: center;
}

.name-your_request {
	font-size: 15px;
	color: #ffffff;
}

.profile-container	{
	background: #666666;
	position: relative;
	width: 60%;
	height: 80%;
	top: 20%;
	left: 20%;
	overflow-y: scroll;
}
/*NAVIGATION BAR*/
.navigation {
  height: 10%;
  background: #262626;
  position: relative;
}

.brand {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.brand a,
.brand a:visited {
	margin-left: 75px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.logo {
	width: 65px;
	height: 65px;
}

.nav-container {
  max-width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li div,
nav ul li div:visited {
  display: block;
  padding: 0 50px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
nav ul li div:hover,
nav ul li div:visited:hover {
  background: #76b852;
  color: #ffffff;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li div {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li div {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  